html{
  margin: 5%;
  background-image: url(../image/bg.gif);
}
html.a{
  background-image: none;
  background-color: #FFFCEF;
}
#home{
  width: 30px;
  height: auto;
  margin: 0 0 0 830pt;
  padding: 30px;
  position: absolute;
}
#pic{
  border-radius: 20px;
}
#b{
  font-size: 30px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 30px outset salmon;
  background-color: lightsalmon;
  margin: 140px 570px;
}
#f{
  text-align: center;
  color: rgb(83, 40, 0);
  font-size: 65px;
  font-family: 'impact';
}
p{
  margin-top: 20px;
  margin-bottom: 20px;
}